* {
    margin: 0;
    padding: 0;
}

body {
    padding: 2rem;
}

button {
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    width: 120px;
    cursor: pointer;
    font-size: 1rem;
}

span,
text {
    font-size: 1rem;
    font-family: monospace;
}

span {
    color: green;
}
h2{
    font-family: monospace;
}
img {
    border-radius: 6px;
    box-shadow: 0px 8px 30px black;
    margin-bottom: 10px;
}